html, body
{
    height: 100%;
    margin: 0;
}
.cabessario
{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 4px rgba(0, 0,0, 0.5);
    padding: auto;
}
.organizar_cabesario
{
    background-color: rgb(41, 38, 39);
    
}
.Titulo_01
{
    color: antiquewhite;
}
.nav-but
{
    margin-bottom: 10px;
    margin-left: auto;
    /*background-color: aliceblue;*/
}
.button
{
    background-color: rgb(41, 38, 39);
    margin-right: 50px;
}

.rodape
{
    text-align: center;
    margin-bottom: 0%;
    margin-left: 100px;
}